// background colors
// --------------------
$bg-color-white:      #ffffff;
$bg-color-gray:       #f6f6f6;
$bg-color-dark-gray:  #323544;
$bg-color-black:      #000000;
$bg-color-light-gray: #eeeeee;
$bg-color-blue:       #66afe9;

// Font family
// --------------------
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font colors
// --------------------
$font-color-white:       #ffffff;
$font-color-dark-white:  #b9b9b9;
$font-color-blue:        #66afe9;
$font-color-gray:        #6f6f6f;
$font-color-dark-gray:   #aeaeae;
$font-color-light-black: #2f3239;
$font-color-red:         #d04437;
$font-color-green:       #52af52;
$font-color-purple:      #a48ad4;

$font-color-success:     $font-color-green;
$font-color-danger:      $font-color-red;
$font-color-info:        $font-color-purple;
$font-color-default:     $font-color-gray;

$font-color-nav-icon:    #97989d;
$font-color-nav-link:    #97989d;

$font-color-placeholder: #999999;

// Typography  settings
// --------------------
$font-size-base:       13px;
$font-size-xlarge:     14px;
$font-size-large:      13.5px;
$font-size-small:      12px;
$font-size-xsmall:     11px;

$font-size-h1:         36px;
$font-size-h2:         30px;
$font-size-h3:         24px;
$font-size-h4:         18px;
$font-size-h5:         $font-size-base;
$font-size-h6:         $font-size-small;

$font-size-dd:         13.5px;
$font-size-dt:         $font-size-small;

$font-size-label:      $font-size-small;

$line-height-base:     1.4em;

$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color:       inherit;

// Borders settings
// --------------------
$border-color-white:      #f1f1f1;
$border-color-light-gray: #ececec;
$border-color-dark-gray:  #aeaeae;
$border-color-blue:       #66afe9;
$border-color-green:      #52af52;
$border-color-red:        #d04437;
$border-color-green:      #52af52;
$border-color-purple:     #a48ad4;

$border-color-success:    $border-color-green;
$border-color-danger:     $border-color-red;
$border-color-info:       $border-color-purple;
$border-color-default:    $border-color-dark-gray;

$border-radius-base:      3px;

$border-color-shadow:     #e9e9e9;

// Tables settings
// --------------------
$table-border-color:          #f1f1f1;
$table-tr-border-color-hover: #e7f2f6;
$table-tr-color-hover:        #f0fbff;

// Buttons setting
// --------------------
$btn-bg-color:       #ffffff;
$btn-icon-color:     #ececec;
$btn-success-color:  #52af52;
$btn-danger-color:   #d04437;
$btn-info-color:     #a48ad4;
$btn-primary-color:  #66afe9;
$btn-default-color:  #aeaeae;

// Media Query Ranges
// If you want to change ranges screen size, you can do it easily by changing only `$screen-min` values
$screen-min: (
     'xs-min': 320px,
     'sm-min': 480px,
     // If you change value of `md-min`,
     // you have to change value of `mediumScreenWidth` too in `source/_js/sidebar.js`
     'md-min': 768px,
     'lg-min': 1024px
);
$screen-max: (
     'xs-max': map-get($screen-min, sm-min) - 1,
     'sm-max': map-get($screen-min, md-min) - 1,
     'md-max': map-get($screen-min, lg-min) - 1
);
// Merged screen-* Maps
$screen: map-merge($screen-min, $screen-max);
// Shortcuts for medias
$xsmall-and-down: "only screen and (max-width : #{map-get($screen, xs-max)})" !default;
$small-and-down:  "only screen and (max-width : #{map-get($screen, sm-max)})" !default;
$small-only:      "only screen and (min-width : #{map-get($screen, sm-min)}) and (max-width : #{map-get($screen, sm-max)})" !default;
$small-and-up:    "only screen and (min-width : #{map-get($screen, sm-min)})" !default;
$medium-and-down: "only screen and (max-width : #{map-get($screen, md-max)})" !default;
$medium-only:     "only screen and (min-width : #{map-get($screen, md-min)}) and (max-width : #{map-get($screen, md-max)})" !default;
$medium-and-up:   "only screen and (min-width : #{map-get($screen, md-min)})" !default;
$large-and-up:    "only screen and (min-width : #{map-get($screen, lg-min)})" !default;