table 
{
    width:            100%;
    max-width:        100%;
 	  background-color: transparent;
 	  font-size:        $font-size-base;
}

.tr--ref th 
{
	  font-weight:   bold;
	  font-size:     $font-size-xsmall;
	  padding:       0 30px 0 0;
	  height:        30px;
    border-bottom: 1px solid $table-border-color;
    color:         $font-color-light-black;
}
.tr--blue
{
    color: $font-color-blue;
}
.tr--search 
{
    height:        50px;
    border-bottom: 1px solid $table-border-color;
    font-weight:   normal;
}
.tr--search th
{
	  padding: 5px 0;
}
tbody 
{
    padding-left: 5px;
}
tbody tr 
{
	border-bottom: 1px solid $table-border-color;
    background:    $bg-color-white;
    font-size:     $font-size-large;
}
tbody tr td
{
	padding-right: 15px;
}
tbody tr:hover 
{
	border-bottom: 1px solid $table-tr-border-color-hover;
    background:    $table-tr-color-hover;
    z-index:       2;
}
th:last-child,
td:last-child 
{
	width: 120px;
}
tr:first-child th:last-child 
{
	padding-right: 10px;
}
.tr--md td
{
	padding-top: 5px;
	padding-bottom: 5px;
}
.tr--lg td
{
	padding-top: 12px;
	padding-bottom: 12px;
}
th.sortable 
{
	cursor:     pointer;
	background: url('http://localhost:8080/ZPareo/ressources/img/liste-style-2.png') no-repeat -moz-calc(100% - 20px) 50%;
	background: url('http://localhost:8080/ZPareo/ressources/img/liste-style-2.png') no-repeat -webkit-calc(100% - 20px) 50%;
}
th.sortable.asc 
{
  	background: url('http://localhost:8080/ZPareo/ressources/img/liste-style-3.png')  no-repeat -moz-calc(100% - 20px) 50%;
  	background: url('http://localhost:8080/ZPareo/ressources/img/liste-style-3.png')  no-repeat -webkit-calc(100% - 20px) 50%;
}
th.sortable.desc 
{
  	background: url('http://localhost:8080/ZPareo/ressources/img/liste-style-4.png')  no-repeat -moz-calc(100% - 20px) 50%;
  	background: url('http://localhost:8080/ZPareo/ressources/img/liste-style-4.png')  no-repeat -webkit-calc(100% - 20px) 50%;
}
th
{
	text-align: left;
}
td 
{
    color:#6c6d6f;
}