.mod {
    height:        auto;
    position:      relative;
    padding:       18px;
    display:       inline-block;
    border-radius: $border-radius-base;
    background:    $bg-color-white;
    margin:        9px;
    @include prefix(box-shadow, 0 1px 1px $border-color-shadow, 'webkit' 'moz' 'ms');
}

.mod--lg {
    width: calc(100% - (9px * 6));
}

.mod--md {
    width: calc(70% - (9px * 6.5));
}

.mod--sm {
    width: calc(50% - (9px * 6.5));
}

.mod--xs {
    width: calc(30% - (9px * 6.5));
}

.mod__head {
    display:       block;
    font-size:     $font-size-xlarge;
    height:        30px;
    color:         $font-color-dark-white;
    width:         100%;
    margin:        0 0 15px 0;
    border-bottom: 1px solid $border-color-light-gray;
}

.mod--center {
    display:      block;
    margin-right: auto;
    margin-left:  auto;
}