input,
button,
select,
textarea {
    width:            auto;
    display:          inline-block;
    padding:          9px 12px;
    border:           1px solid $border-color-light-gray;
    border-radius:    $border-radius-base;
    background-color: $bg-color-white;
    background-image: none;
    line-height:      $line-height-base;
    font-size:        $font-size-base;
    color:            $font-color-gray;
    margin:           0;
}

input:focus,
input[required]:focus,
select[required]:focus,
textarea:focus,
textarea:focus[required]:focus {
    border-color: $border-color-blue;
    outline:      0;
}

textarea,
select[multiple] {
    height: auto;
}

label {
    font-size:   $font-size-label;
    font-weight: bold;
    color:       $font-color-blue;
}

input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
    color:   $font-color-placeholder;
    opacity: 1;
}

input::-ms-placeholder,
select::-ms-placeholder,
textarea::-ms-placeholder,
input::-webkit-placeholder,
select::-webkit-placeholder,
textarea::-webkit-placeholder {
    color: $font-color-placeholder;
}

input[disabled],
input[readonly],
select[disabled],
select[readonly] {
    cursor:           not-allowed;
    background-color: $bg-color-light-gray;
    opacity:          1;
}

input[required],
textarea[required],
select[required] {
    border:     1px solid $border-color-light-gray;
    background: url("../img/icons/required-input.png") white -moz-calc(100% - 10px) 50% no-repeat;
    background: url("../img/icons/required-input.png") white -webkit-calc(100% - 10px) 50% no-repeat;
}

input[required]:valid,
textarea[required]:valid {
    background: url("../img/icons/valid-input.png") white -moz-calc(100% - 10px) 50% no-repeat;
    background: url("../img/icons/valid-input.png") white -webkit-calc(100% - 10px) 50% no-repeat;
}

select[required]:valid {
    background: url("../img/icons/valid-input.png") white -moz-calc(100% - 35px) 50% no-repeat;
    background: url("../img/icons/valid-input.png") white -webkit-calc(100% - 35px) 50% no-repeat;
}

input[required]:focus:valid,
textarea[required]:focus:valid {
    border:     1px solid $border-color-success;
    background: url("../img/icons/valid-input.png") white -moz-calc(100% - 10px) 50% no-repeat;
    background: url("../img/icons/valid-input.png") white -webkit-calc(100% - 10px) 50% no-repeat;
}

select[required]:focus:valid {
    border:     1px solid $border-color-success;
    background: url("../img/icons/valid-input.png") white -moz-calc(100% - 35px) 50% no-repeat;
    background: url("../img/icons/valid-input.png") white -webkit-calc(100% - 35px) 50% no-repeat;
}

input[disabled],
textarea[disabled] {

    background: url("../img/icons/valid-input.png") white -moz-calc(100% - 10px) 50% no-repeat !important;
    background: url("../img/icons/valid-input.png") white -webkit-calc(100% - 10px) 50% no-repeat !important;
}

select[disabled] {
    background: url("../img/icons/valid-input.png") white -moz-calc(100% - 35px) 50% no-repeat !important;
    background: url("../img/icons/valid-input.png") white -webkit-calc(100% - 35px) 50% no-repeat !important;
}

input[required]:focus:invalid,
textarea[required]:focus:invalid,
select[required]:focus:invalid {
    border:  1px solid $border-color-light-gray;
    outline: none;
}

select[required] {
    border:     1px solid $border-color-light-gray;
    background: url("../img/icons/required-input.png") white -moz-calc(100% - 35px) 50% no-repeat;
    background: url("../img/icons/required-input.png") white -webkit-calc(100% - 35px) 50% no-repeat;
}

input:invalid {
    box-shadow: none;
}