.aside__user-info {
    padding:    18px 15px 14px 15px;
    background: $bg-color-blue;
    color:      $font-color-white;
}

.aside__user-info__picture {
    width:      40px;
    height:     40px;
    display:    inline-block;
    margin:     0 18px 0 0;
    background: url("../img/icons/user-icon.png");
}

.aside__user-info__name {
    width:          auto;
    height:         auto;
    display:        inline-block;
    vertical-align: top;
}

.aside__nav {
    a {
        width:           auto;
        height:          55px;
        padding:         0 0 0 20px;
        display:         block;
        font-size:       $font-size-small;
        color:           $font-color-nav-link;
        text-decoration: none;
        line-height:     55px;

        span:first-child {
            display:   inline-block;
            font-size: 27px;
            color:     $font-color-nav-icon;
            margin:    0 25px 0 0;
            padding:   14px 0 0 0;
        }
        span.icon-graduate {
            font-size: 22px;
            margin:    0 23px 0 0;
        }
        span:last-child {
            display:        inline-block;
            color:          $font-color-nav-icon;
            margin:         0 10px 0 0;
            padding:        0 0 0 0;
            vertical-align: top;
        }
    }
    a:hover {
        color:           $font-color-white;
        text-decoration: none;
    }
}