#site-wrap {
    width:      100%;
    min-height: 100%;
    position:   relative;
    margin:     0 auto;
    background: $bg-color-gray;
}

#aside-wrap {
    width:      210px;
    height:     100%;
    position:   fixed;
    top:        0px;
    left:       0px;
    background: $bg-color-dark-gray;
}

#main-wrap {
    width:      -moz-calc(100% - 210px);
    width:      -webkit-calc(100% - 210px);
    min-height: 100%;
    height:     auto;
    display:    inline-block;
    background: $bg-color-gray;
    position:   relative;
    top:        0px;
    left:       210px;
}