body {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	background:#ffffff;
}
#connexion {
	width:300px;
	height:auto;
	margin-right:auto;
	margin-left:auto;
	dislpay:inline-block;
	vertical-align:middle;
	background:#ffffff;
	
}
#connexion .module-form
{
	padding-bottom:0px;
}
#connexion input,
#connexion button.bouton {
	margin-bottom:10px;
	width:100%;
}
#connexion form {
	padding:10px 10px 0px 10px;
}
#connexion button[type=submit]
{
	margin:10px 0 0 0;
}
#connexion-loader-conteneur
{
	width:100%;
	display:none;
	height:130px;
	line-height:140px;
	padding:50px 0;
}
#connexion-loader 
{
	display:block;
	margin:0 auto;

}
#table-examens thead tr:last-child th:nth-child(7)
{
	width:100px;
}

#edition-examen #form-examen
{
	vertical-align:top;
	width:265px;
	display:inline-block;
}
#edition-examen #form-notes
{
	width:265px;
	display:inline-block;
	overflow:scroll;
	overflow-x:hidden;
	max-height:420px;
	margin:0 0 0 30px;
}
#edition-examen #form-notes .form-note
{
	margin:10px 0 0 0;
	
	width:250px;
}
#edition-examen #form-notes .form-note .form-addon
{
	text-align:left;
	width:160px;
}
